
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientDeng</title>

</head>
<body>
    <div> 
        <table>
            <tr>
                <td>用户名：</td>
                <td><input id="txt_CAccount" type="text" /></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input id="txt_Cpwd" type="password" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input id="btn_DL" type="button" value="登录"  onclick="Fun_DL()"/>
                    <input id="btn_ZC" type="button" value="注册"  onclick="Fun_ZC()"/>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>

</script>
